.node {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Default size */
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  border: 1px solid var(--normal-color);
  transition: transform 0.2s;
}

.node.parent-node, .node.child-node {
  font-size: 16px; /* For larger nodes */
}

.node.small-node {
  font-size: 10px; /* Smaller font for smaller circles */
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--normal-color);
  border-radius: 4px;
  padding: 5px;
  visibility: hidden; /* Hidden by default */
  transition: visibility 0.2s;
  pointer-events: none; /* Prevents tooltip from blocking mouse events */
}
