.node {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  font-size: 12px; /* Default size */
  color: #fff;
  border: 1px solid var(--normal-color);
  transition: transform 0.2s, background-color 0.2s;
}

.node .node-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0 5px;
}

.node.parent-node, .node.child-node {
  font-size: 16px; /* For larger nodes */
}

.node.small-node {
  font-size: 10px; /* Smaller font for smaller circles */
}

.node:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  pointer-events: none;
}
