.LeftNavMain {
    background-color: var(--60-color);
    flex: 0.15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

svg {
    margin: 0;
    padding: 0;
    height: 70%;
}

.tool-name {
    font-family: "JetBrainsExtraBold";
}

.top {
    background-color: var(--30-color);
    flex: 0.05;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */
    padding: 1px;
}


.bottom {
    background-color: var(--30-color);
    flex: 0.935;
}

.from-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.buttons {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: inherit;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--60-color);
    font-family: "JetBrainsBold";
    background-color: var(--10-color);
    width: 100%;
    height: 35%;
}

.button-div:hover, .active-scan {
    border: 2px solid;
    border-color: var(--accent-color);  
}