.list-view {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
  }
  
  .list-view ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  
  .list-view li {
    background-color: var(--10-color);
    margin: 4px 0;
    gap: 4px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
  }
  
  .list-view .directory {
    font-weight: bold;
    color: var(--normal-color);
  }
  
  .list-view .file {
    color: var(--normal-color);
  }
  
  .item-name {
    display: inline-block;
    margin-right: 10px;
  }
  
  .item-size {
    font-size: 0.9em;
    color: var(--normal-color);
  }
  