.RightMain {
    background-color: var(--60-color);
    flex: 0.84;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-right {
    flex: 0.15;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

.top-left {
    background-color: var(--10-color);
    flex: 0.65;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    overflow: hidden; /* need to fix when path becomes too long */
}


.active-view {
    border-radius: 2px;
    padding: 2px;
    background-color: var(--30-color);
}


#Main-Display-Content {
    overflow-y: auto; /* Enables vertical scroll if needed */
    overflow-x: hidden; /* Hides horizontal scroll */
    padding: 5px;
}

/* Scrollbar styles */
#Main-Display-Content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

#Main-Display-Content::-webkit-scrollbar-track {
    background: var(--30-color); /* Background of the scrollbar track */
}

#Main-Display-Content::-webkit-scrollbar-thumb {
    background-color: var(--60-color); /* Color of the scrollbar handle */
    border-radius: 4px;
}

.wrap {
    background-color: aqua;
}