.dark-mode {
    --60-color: #595959;
    --30-color: #404040;
    --10-color: #595959;
    --accent-color: #808080;
    --normal-color: #f2f2f2;
}

.light-mode {
    --60-color: #f2f2f2;
    --30-color: #ff8098;
    --10-color: #FFA6B7;
    --accent-color: #fcb6c3;
    --normal-color: #f2f2f2;
}

@font-face {
    font-family: "JetBrainsRegular";
    src: url("./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "JetBrainsBold";
    src: url("./fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf");
}

@font-face {
    font-family: "JetBrainsExtraBold";
    src: url("./fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: var(--60-color);
    color: var(--normal-color);
    font-family: "JetBrainsRegular";
}

div {
    border-radius: 3px;
}

.App {
    background-color: var(--60-color);
    padding: 10px;
    height: 97vh;
}

.Main {
    background-color: var(--60-color);
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.bg-10 {
    background-color: var(--10-color);
}

.bg-30 {
    background-color: var(--30-color);
}

.bg-60 {
    background-color: var(--60-color);
}